/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  background-color: black;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}


a:hover {
  color: #ffc85a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto',Arial,sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  background: rgba(9, 28, 31, 0.9);
}
#header.header-transparent {
  background: black;
}
#header.header-scrolled {
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  /* width: 100%; */
  /* justify-content: center; */
  /* background: rgba(25, 28, 31, 0.8); */
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #ffb727;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(36, 41, 46, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 14px;
  color: #3b434a;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #ffb727;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Lantern Section
--------------------------------------------------------------*/
#Lantern {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}
#Lantern:before {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#Lantern .Lantern-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}
#Lantern h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  color: #ffb727;
  z-index: 3;
}
#Lantern h2 {
  font-family: 'Inter';
  color: white;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
}
#Lantern img {
  width: 300px;
  text-transform: uppercase;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
}
#Lantern iframe {
  top: 50%;
  height: 1900px;
  width: 1900px;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  left: 50%;
  z-index: 1;
  position: fixed;
  pointer-events: none;
}
#Lantern .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
#Lantern .btn-scroll i {
  font-size: 48px;
}
#Lantern .btn-scroll:hover {
  color: #ffb727;
}
@media (min-width: 1024px) {
  #Lantern {
    background-attachment: fixed;
  }
}
@media (max-width: 575px) {
  #Lantern h1 {
    font-size: 40px;
  }
  #Lantern h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    font-size: 46px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#About {
  z-index: 3;
  position: relative;
  background-color: black;
  color: #eee;
  width: 100%;
  overflow: hidden;
}
#About-container {
  padding-top: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  text-align: left;
  /* border-bottom: 1px dashed white; */
}
#About-container:after {
  border-bottom: 1px dashed white;
}
#About-container .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#About span {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  margin-top: -6px;
  width: 585px;
  color: #ffb727;
}
#About h2 {
  font-family: "Inter";
  font-size: 50px;
  margin-bottom: 30px;
  font-size: 52px;
  width: 585px;
}
#About p {
  margin-bottom: 0;
  width: 585px;
}
#About h1 {
  margin-bottom: 0;
  width: 585px;
}
#About-button {
  margin-bottom: 0;
  width: 585px;
}
#About a {
  font-family: "Inter";
  display: block;
  margin: auto;
  float: left;
  margin-top: 40px;
  color: #ffb727;
  border-color: #ffb727;
}
#About a:hover {
  background-color: #ffb727;
  color: black;
}
#About-img-cards{
 display: flex;
 flex-wrap: wrap;
 justify-content: start;
}
#About-img-cards .card{
  margin: 15px;
 }
 #About-img-cards img{
  height: 204px;
  width: 320px;
 }

/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/
#Projects {
  z-index: 10;
  position: relative;
  background-color: black;
  color: #eee;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
}
#Projects-container {
  margin-top: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  text-align: left;
}
#Projects-container-title {
  display: flex;
  justify-content: center;
}
#Projects span {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  margin-top: -6px;
  /* margin-left: 100px; */
  width: 585px;
  color: #ffb727;
}
#Projects .what-we-do-content h2 {
  font-family: "Inter";
  font-size: 50px;
  margin-bottom: 30px;
  font-size: 52px;
  width: 585px;
}
#Projects .what-we-do-content p {
  margin-bottom: 0;
  width: 585px;
}
#Projects .what-we-do-content a {
  font-family: "Inter";
  margin-top: 40px;
  color: #ffb727;
  border-color: #ffb727;
}
#Projects a:hover {
  background-color: #ffb727;
  color: black;
}
#Projects-cards-container{
  display: flex;
}
#Projects-cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: -15px;
  margin-left: -15px;
}
#Projects-cards-container h3{
  font-family: "Inter";
  margin-top: 15px;
  margin-bottom: 15px;
}
#Projects-cards-container .col-lg-6{
  display: flex;
  width: 374px;
}
#Projects-card-mt30 {
  margin-top: 30px;
 }
#Projects-cards-container img {
  width: 60px;
  height: 61px;
}
#Projects-cards-container .what-we-do-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed #676a6a;
  padding: 20px;
  margin-bottom: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 300px;
  height: 280px;
}
#Projects-card-mt30 {
 margin-top: 30px;
}


/*--------------------------------------------------------------
# Works Section
--------------------------------------------------------------*/
#Works {
  z-index: 10;
  position: relative;
  width: 100%;
  background-color: black;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}
#Works h1 {
  font-family: "Inter";
  color: #ffb727;
  font-size: 74px;
  margin-bottom: 50px;
}

#Works h2 {
  font-family: 'Roboto';
  font-weight: 700;
  color: #ffb727;
  font-size: 20px;
}


/* Вставка */
#Works-container {
  display: flex;
  justify-content: center;
  max-width: 1420px;
}
#Works-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#Works-container img {
  height: 300px;
  margin: 20px;
}
#Works-card-playButton {
  position: absolute;
  display: block;
  text-align: center;
  margin-top: 140px;
  margin-left: 140px;
}
#Works-card-playButton img {
  margin: 0;
  height: 90px;
}

/*--------------------------------------------------------------
# Price Section
--------------------------------------------------------------*/
#Price {
  z-index: 10;
  position: relative;
  width: 100%;
  background-color: black;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 150px;
}
/* Стоимость */
#Price h2 {
  position: absolute;
  font-family: "Inter";
  color: #ffb727;
  font-size: 76px;
  margin-top: 250px;
  font-weight: 900;
  width: 370px;
  margin: 200px -28px 0 -186px;
}
#Price p {
  font-family: "Roboto";
  color: white;
}
#Price-container {
  display: flex;
  align-items: center;
}
#Price-title-container {
  margin-right: 40px;
}
#Price-title-container img {
  width: 400px;
}
#Price-title-container p {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  width: 400px;
}

/* Цитата */
#Price-contacts-container  {
  margin-top: 150px;
  margin-left: 40px;
  width: 400px;
  height: 490px;
  border: 1px dashed white;
  /* background-color: #eef5fd; */
}
#Price-contacts-quote {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
#Price-contacts-container p  {
  font-family: "Roboto";
  font-size: 24px;
  text-align: center;
  color: white;
  padding: 79px 20px 0 20px;
}
#Price-contacts-container a {
  font-family: "Inter";
  display: block;
  margin: auto;
  float: left;
  margin-top: 30px;
  color: #ffb727;
  border-color: #ffb727;
}
#Price-contacts-container a:hover {
  background-color: #ffb727;
  color: black;
}


/*--------------------------------------------------------------
# Contacts Section
--------------------------------------------------------------*/

#Contacts {
  z-index: 10;
  position: relative;
  width: 100%;
  background-color: black;
  padding-top: 100px;
  padding-bottom: 100px;
}
#Contacts-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Форма */
#Contacts h1 {
  font-family: "Inter";
  color: #ffb727;
  font-size: 45px;
  font-weight: 900;
  margin: 0 0 20px 7px;
}
#Contacts p {
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.603);
  font-size: 14px;
  margin: 15px;
  width: 400px;
}
#Contacts input  {
  background-color: black;
  margin: 10px;
  width: 400px;
  border-color: white;
  border-radius: 0;
}
.form-control {
  color: white;
}
.form-control:focus {
  color: white;
  box-shadow: 0 0 0 1px white;
}
#Contacts textarea {
  background-color: black;
  margin: 10px;
  width: 400px;
  border-color: white;
  border-radius: 0;
}
#Contacts ::placeholder {
  font-family: "Inter";
  color: rgba(255, 255, 255, 0.74);
}
#Contacts-form-container button {
  font-family: "Inter";
  display: block;
  margin: auto;
  float: left;
  margin-top: 20px;
  color: #ffb727;
  border-color: #ffb727;
  margin: 15px;
}
#Contacts-form-container button:hover {
  background-color: #ffb727;
  color: black;
}
#Contacts-form-container {
  display: flex;
  flex-direction: column;
}

/* Контакты */
#Contacts-card img {
  height: 30px;
  width: 30px;
}
#Contacts-card h2 {
  font-family: "Inter";
  font-size: 28px;
  font-weight: 300;
  color: white;
  margin-left: 20px;
}
#Contacts-card-title {
  display: flex;
}
#Contacts-cards-container {
  margin-left: 200px;
}
#Contacts-card {
  margin-bottom: 40px;
}
#Contacts-card-info {
  margin-top: 15px;
}
#Contacts-card-info p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  color: white;
  margin-left: 55px;
}
#Contacts-card-info a {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  color: white;
  margin: 5px 0px 30px 55px;
  text-decoration: none;
}
#Contacts-card-info-link a {
  font-weight: 500;
  color: #ffb727;
  transition: color 0.5s ease 0s;
}
#Contacts-card-info-link a:hover {
  color: white;
}
#Contacts-card-info-cards-container {
  display: flex;
  align-items: center;
}
#Contacts-card-info-card {
  margin: 5px;
}
#Contacts-card-info-card-youtube img{
  height: 38px;
  width: 38px;
}
#Contacts-card-title-social h2 {
  margin-top: 40px;
  margin-left: 50px;
}